
i {
    color: #c49952;
    transition: all 0.3s linear;
}

.bi-facebook:hover {
    color: blue;
}

.bi-twitter:hover {
    color: #00adb5;
}

.bi-google:hover {
    color: white;
}

.bi-instagram:hover {
    color: #e11d74;
}

.bi-linkedin:hover {
    color: #04009a;
}

.bi-github:hover {
    color: black;
}

