/*

.logo {
    height: 50px;
    width: 50px
}

.Logo {
    height: 50px;
    width: 50px;
}
*/

.boton-header {
    background-color: #c49952;
    color: black;
    border: none;
    transition-duration: 0.4s;
    font-style: italic;
    font-family: 'Libre Baskerville', serif;

}

.boton-header:hover {
    background-color: white;
    color: #c49952;
    font-style: italic;
}

.input-header-mio {
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
    background-color: grey;
    opacity: 0.3;
}

.input-header-mio:hover {
    opacity: 1.0;
}

.input-header-mio:focus {
    opacity: 1.0;
}

.nav-link {
    transition: all .2s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
}


ol li {
    margin: 10px 0px 10px 10px;
    text-align: left;
    display: inline-flex;
}


ol li img {
    height: 500px;
    width: 350px;

}

li {
    list-style: none;
}

ul {
    display: inline;
}

ul li {
    float: left;
    margin: 10px 10px 10px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bolder;

}

.texto-header {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center !important;
    font-size: x-large;
    font-style: italic;
}